<link rel='stylesheet' href='/stylesheets/mycss.css'>
<h1>Please login below:</h1>
<p><%=@error%></p>
<form action='/login' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Log In" class='mybutton'>
</form>
<br/>
<small>-or-</small>
<br/>
<br/>
<a href = '/signup' class = 'mybutton'>SignUp</a>