<link rel='stylesheet' href='/stylesheets/mycss.css'>
<h1> Please enter credentials below:</h1>
<p style="color:red"><%=@error%></p>
<form action="/signup" method="POST">
  <label>Name:</label>
  <br/>
  <input type="text" name="name">
  <br/>
  <label>Email:</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up" class='mybutton'>
</form>
<br/>
<small>-or-</small>
<br/>
<br/>
<a href= '/login' class='mybutton'>LogIn</a>