
<h1>Welcome to your game library, <%=@user.name%></h1>

<h2>please check below if you would to enter a new game or see stored games</h2>
<a href="/games/new"><button type="button">Enter a new game</button></a>
<a href="/users/games"><button type="button">See stored games</button></a>
<br/>
<br/>
<a href="/users/logout">Logout</a>