<link rel='stylesheet' href='/stylesheets/mycss.css'>
<h1>Welcome to your game wishlist, <%=@user.name%>!</h1>

<h2>See buttons below to Enter a game, or see already entered ones!</h2>
<a href="/games/new"><button type="button" class='mybutton'>Enter a new game</button></a>
<a href="/games"><button type="button" class='mybutton'>See stored games</button></a>
<br/>
<br/>
