<link rel='stylesheet' href='/stylesheets/mycss.css'/>
<h1>Hello there! This is where you can enter in a new game to be stored</h1>

<form action='/games/new' method='POST'>
<label>Name:</label><br/>
<input type="text" name="name"><br/>
<label>Genre:</label><br/>
<input type="text" name="genre"><br/>
<label>Price:</label><br/>
<input type="integer" name="price"><br/><br/>
<input type="submit" class = 'mybutton'><br/>
</form>
<br/>
<br/>